{% extends 'base.html' %}

{% block title %}
    Sign Up
{% endblock title %}
{% block main %}
    <main>
        <div>
            <h1>Sugnup</h1>
            <form method='POST'>
                {% csrf_token %}
                {{ form.as_p }}
                {% comment %} {% for message in form.error_messages.values %}{{ message }}{% endfor %} {% endcomment %}
                <button type='submit'>Signup</button>
            </form>
        </div>
    </main>
{% endblock main %}
