{% extends 'base.html' %}

{% block title %}
    Categories List
{% endblock title %}
{% block main %}
    <main>
        <div>
            <a href="{% url "create_category" %}">Create category</a>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </thead>
                <tbody>
                    {% for category in category_list %}
                        <tr>
                            <td>{{ category.name }}</td>
                            <td>{{ category.receipts.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock main %}
