{% extends 'base.html' %}

{% block title %}
    receipts list
{% endblock title %}
{% block main %}
    <main>
        <h1>My Receipts</h1>
        <a href="{% url "create_receipt" %}">Create Receipt</a>
        <a href="{% url "create_account" %}">Create Account</a>
        <a href="{% url "create_category" %}">Create category</a>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {% for receipt in receipt_list %}
                    <tr>
                        <td>{{ receipt.vendor }}</td>
                        <td>{{ receipt.total }}</td>
                        <td>{{ receipt.tax }}</td>
                        <td>{{ receipt.date|date:'m-d-Y' }}</td>
                        <td>{{ receipt.category.name }}</td>
                        <td>{{ receipt.account.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock main %}
